Repository Phil-Fan/dot-files: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, shfmt, shellcheck

markdownlint:
  name: markdownlint (autocorrect)
  entry: markdownlint-cli2 --fix
  language: system

shfmt:
  name: shfmt
  entry: shfmt -w -i 2 -ci
  language: system

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

chore(packages): record brew and pnpm global tools
  softwares/packages/Brewfile
  softwares/packages/Pnpmfile
Due: none

feat(yazi): add lazygit plugin and keybinding
  dot_config_yazi/keymap.toml
  dot_config_yazi/package.toml
Due: none

refactor(zsh): rm repeat dot_zsh_config
  dot_zprofile
  dot_zsh_config/01-environment.zsh
  dot_zsh_config/03-tools.zsh
  dot_zsh_config/05-dev-tools.zsh
  dot_zsh_config/06-platform.zsh
  dot_zshrc
Due: none

feat(llm): add repo-managed model defaults without secrets
  dot_config_llm/default_model.txt
  dot_config_llm/extra-openai-models.yaml.tmpl
  dot_config_llm/model_options.json
  dot_zsh_config/01-environment.zsh
Due: none

feat(yazi): add lazy-git plugin
  dot_config_yazi/yazi.toml
Due: none

feat(alias): add aliases similar to antfu
  .gitignore
  docs/CHEZMOI.md
  dot_zsh_config/04-aliases.zsh
  scripts/install-oh-my-zsh-plugins.sh
  scripts/install-packages.sh
  scripts/install-pnpm-global.sh
  scripts/setup.sh
  scripts/sync-editor.sh
  softwares/editors/README.md
  softwares/else/general.md
  softwares/else/macos.md
  softwares/else/windows.md
  softwares/extensions/vscode.md
  softwares/extensions/web.md
  softwares/packages/Brewfile
  softwares/packages/README.md
  softwares/prompts/interview-demand.md
  softwares/prompts/软著.md
Due: markdownlint, shfmt, shellcheck

fix
  .chezmoiignore
  README.md
  dot_gitconfig
Due: markdownlint

fix
  dot_zsh_config/05-dev-tools.zsh
  scripts/ssh_setup.sh
Due: shfmt, shellcheck

refactor(README): streamline installation instructions and remove outdated sections
  README.md
Due: markdownlint

refactor(zsh): move Homebrew initialization from dot_zprofile to dot_zshrc
  dot_zprofile
  dot_zshrc
Due: none

feat(zsh): add cmux alias and update environment variables
  dot_zsh_config/01-environment.zsh
  dot_zsh_config/04-aliases.zsh
  softwares/packages/Brewfile
Due: none

chore(Pnpmfile): replace XmindMark and Happy Coder with @getpaseo/cli
  softwares/packages/Pnpmfile
Due: none

refactor(aliases): replace cursor command with qoder in clone functions
  dot_zsh_config/04-aliases.zsh
Due: none

feat: add iterm2 configuration
  iterm2.json
Due: none

fix(ci): remove stale .zprofile assertion from install verify
  scripts/install-verify.sh
Due: shfmt, shellcheck

Path conditions:
  markdownlint: any of: \.md$
  shfmt: any of: ^scripts/.*\.sh$
  shellcheck: any of: ^scripts/.*\.sh$
